<%= render :partial => 'navbar' %>
<div class="name">
  <h3>
    編集してください
  </h3>
</div>

  
<%= form_for @vlog, :url => {:action => 'update'} do |f| %>
  
  <div class="field">
  <%= f.label :image, "写真" %><br>
  <%= f.text_field :image, class: "well well-sm" %>
  </div>
  <div class="content">
  <%= f.label :text, "内容" %><br>
  <%= f.text_area :text, placeholder: 'コメント', class:"well well-lg" %>
  </div>
  <div class="actions">
  <%= f.submit "訂正する" %>
  </div>
<% end %>




