<%= render :partial => 'navbar' %>

<div class="name">
<h3>
  rudus blog
</h3>
</div>

<% @vlogs.each_with_index do |v, index| %>
  <div class="panel panel-default">
    <div id="pad", class="panel-heading">
      <span class="text-right col-lg-1">名前：</span>
     
      <% if v.name.present? %>
        <span class="text-left col-lg-1">不明</span>
      <% elsif v.user_id.present? %>
        <span class="text-left col-lg-1"><%= v.user.nickname %></span>
      <% else %>
        <span class="text-left col-lg-1"><%= v.name %></span>
      <% end %>
     
      <span class="text-right col-lg-1">写真：</span>
        <% if v.image.present? %>
　　      <span class="col-lg-1 trigger", id="num<%= index %>"><%= image_tag v.image.thumb.url %></span>
　      <% else %>
　　      <span class="col-lg-1"><%= image_tag 'noimage' %></span>
　      <% end %>
     
      <span class="col-lg-offset-7"><%= link_to "詳細", blog_path(v.id) %></span>
    </div>
    <% if qiita_markdown(v.text).present? %>
      <div class="panel-body"><%= qiita_markdown(v.text) %></div>
    <% elsif v.text.present? %>
      <div class="panel-body"><%= v.text %></div>
    <% else %>
      <div class="panel-body">notext</div>
    <% end %>  
    <% if v.image.present? %>
      <div class="panel-body"><span class="pimage", id="number<%= index %>"><%= image_tag v.image.to_s %></span></div>
    <% end %>
  </div>
<% end %>

<%= paginate(@vlogs) %>

<%= link_to "戻る", "/blog", class:"btn btn-primary pull-right" %>
