<%= render :partial => 'navbar' %>

<div class="name">
<h3>
  rudus blog
</h3>
</div>

<% @vlog.each do |v| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="text-right col-lg-1">名前：</span>
     
      <% if v.name.present? %>
        <span class="text-left col-lg-1">不明</span>
      <% elsif v.user_id.present? %>
        <span class="text-left col-lg-1"><%= v.user.nickname %></span>
      <% else %>
        <span class="text-left col-lg-1"><%= v.name %></span>
      <% end %>
     
      <span class="text-right col-lg-1">写真：</span>
      <span class="text-left col-lg-2"><a href="#"><%= v.image %></a></span>
      <span class="col-lg-offset-6"><%= link_to "詳細", blog_path(v.id) %></span>
    </div>
    <div class="panel-body"><%= v.text %></div>
  </div>
<% end %>

<%= paginate(@vlog) %>



<%= link_to "戻る", "/blog", class:"btn btn-primary pull-right" %>
